

/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 99999; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: rgba(51, 51, 51, 0);
    color: white;
    padding: 10px 0px 10px 15px;
    border: none;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

  /* ------------------------------------------------------------------------------------------- */

  .logo
  {
      /*font-size: large;
      font-weight: bold;
      font-style: italic;*/
      color: whitesmoke;
      font-size: medium;
      font-weight: bolder;
      letter-spacing: 2px;
      text-decoration: none;
      transition: all 0.2s;
      margin-top: -6px;
  }

  .logo:hover
  {
      color: orange;
      background-color: rgba(51, 51, 51, 0)
  }

  .white
  {
      color: whitesmoke;
      font-size: smaller!important;
      margin-top: 7px;
  }

  .row
  {
    /*background: url('https://cdn.pixabay.com/photo/2016/12/29/18/44/background-1939128_960_720.jpg') center center;*/
    background-color: #a94442;
  }

  .modal-header
  {
    padding: 30px;
  }

  .modal-title
  {
    font-size: small;
  }

  .ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }