<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <a href="" routerLink="/home">Home</a>
  </div>

  <div class="row">
    <div class="col">
        <button class="openbtn" (click)="openNav()">&#9776;</button>
        <button routerLink="/home" class="mdl-button mdl-js-button mdl-js-ripple-effect logo">APP</button>
    </div>
    <div class="col-auto">
        <button type="button" *ngIf="!login" class="mdl-button mdl-js-button mdl-js-ripple-effect white text-capitalize" data-toggle="modal" data-target="#modalAcceder" (click)="resetAcceder()">Acceder</button>
        <button routerLink="/registro" *ngIf="!login" class="mdl-button mdl-js-button mdl-js-ripple-effect white text-capitalize">Regístrate</button>

        <button *ngIf="login" class="mdl-button mdl-js-button mdl-js-ripple-effect white text-lowercase text-warning">{{actualUser}}</button>
        <button *ngIf="login" class="mdl-button mdl-js-button mdl-js-ripple-effect white text-capitalize">Cerrar Sesión</button>
    </div>
  </div>

  <!-- Modal -->
<div class="modal fade" id="modalAcceder" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">INICIAR SESIÓN</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <form id="loginForm" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">

            <div class="form-group">
              <input type="text" class="form-control" placeholder="Usuario" id="usuario" name="usuario" [(ngModel)]="user.usuario" #usuario="ngModel" required>
            </div>

            <div [hidden]="usuario.valid || usuario.pristine" *ngIf="submitted" class="alert alert-danger">Nombre requerido</div>

            <div class="form-group">
              <input type="password" class="form-control" placeholder="Contraseña" id="password" name="password" [(ngModel)]="user.password" #password="ngModel" required>
            </div>

            <div [hidden]="password.valid || password.pristine" class="alert alert-danger">Contraseña requerida</div>

            <div id="error"></div>

            <div class="form-group">
              <button type="submit" class="btn btn-success btn-large btn-block">Acceder</button>
            </div>

            <div id="spinner"></div>

          </form>

        </div>
      </div>
    </div>
  </div>