<div class="container-fluid">

  <form #form="ngForm" (ngSubmit)="onSubmit(form)">

    <select class="form-control" [(ngModel)]="user.nombre" [value]="userActual.nombre" name="usuario" id="username">
      <option [value]="userActual.nombre">{{userActual.nombre}}</option>
      <option *ngFor="let usuario of userList" [hidden]="userActual.nombre == usuario.nombre" [value]="usuario.nombre">{{usuario.nombre}}</option>
    </select>

    <button type="submit" class="btn btn-success" style="margin-top: 10px;">Aceptar</button>

  </form>

</div>