.row
{
    margin-top: 60px;
}

.mdl-card__title
{
    height: 150px;
    background-color: #ddd;
}

.mdl-card
{
    width: 100%;
}

.mdl-card__title-text
{
    color: #666;
}

.mdl-card__supporting-text
{
    width: 100%;
    padding-top: 30px;
}

.btnGuardar
{
    font-size: medium;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}