<div class="row">

  <div class="col"></div>

  <div class="col-10">

    <div class="demo-card-wide mdl-card mdl-shadow--2dp animated fadeIn">

      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Registro</h2>
      </div>

      <div class="mdl-card__supporting-text">

      <form id="registroForm" #registroForm="ngForm" (ngSubmit)="onSubmit(registroForm)">

        <div class="form-group col-6 float-left">
          <input type="text" class="form-control" placeholder="Nombre" name="nombre" id="nombre" [(ngModel)]="user.nombre" #nombre="ngModel" required minlength="2">
          <div *ngIf="registroForm.submitted && nombre.invalid"class="text-danger">
            <p *ngIf="nombre.errors.required">Nombre requerido</p>
            <p *ngIf="nombre.errors.minlength">Longitud mínima de 2 carácteres.</p>
          </div>
        </div>

        <div class="form-group col-6 float-left">
          <input type="text" class="form-control" placeholder="Apellidos" name="apellidos" id="apellidos" [(ngModel)]="user.apellidos" #apellidos="ngModel" required minlength="4">
          <div *ngIf="registroForm.submitted && apellidos.invalid"class="text-danger">
            <p *ngIf="apellidos.errors.required">Apellidos requeridos</p>
            <p *ngIf="apellidos.errors.minlength">Longitud mínima de 4 carácteres.</p>
          </div>
        </div>

      <div class="form-group col-6 float-left">
        <input type="text" class="form-control" placeholder="Ciudad" name="ciudad" id="ciudad" [(ngModel)]="user.ciudad" #ciudad="ngModel" required minlength="4">
        <div *ngIf="registroForm.submitted && ciudad.invalid"class="text-danger">
          <p *ngIf="ciudad.errors.required">Ciudad requerida</p>
          <p *ngIf="ciudad.errors.minlength">Longitud mínima de 4 carácteres.</p>
        </div>
      </div>

      <div class="form-group col-6 float-left">
        <input type="text" class="form-control" placeholder="Teléfono" name="telefono" id="telefono" [(ngModel)]="user.telefono" #telefono="ngModel" required pattern="(6|7){1}[0-9]{8}">
        <div *ngIf="registroForm.submitted && telefono.invalid"class="text-danger">
          <p>Debe introducir un número real</p>
        </div>
      </div>

      <div class="form-group col-6 float-left">
        <input type="email" class="form-control" placeholder="Email" name="email" id="email" [(ngModel)]="user.email" #email="ngModel" required pattern="^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.([a-zA-Z]{2,4})+$">
        <div *ngIf="registroForm.submitted && email.invalid"class="text-danger">
          <p>Debe introducir un email real</p>
        </div>
      </div>

      <div class="form-group col-6 float-left">
        <input type="text" class="form-control" placeholder="Usuario" name="usuario" id="username" [(ngModel)]="user.usuario" #usuario="ngModel" required minlength="4">
        <div *ngIf="registroForm.submitted && usuario.invalid"class="text-danger">
          <p *ngIf="usuario.errors.required">Usuario requerido</p>
          <p *ngIf="usuario.errors.minlength">Longitud mínima de 4 carácteres.</p>
        </div>
      </div>

      <div class="form-group col-6 float-left">
        <input type="password" class="form-control" placeholder="Contraseña" name="password" id="pass" [(ngModel)]="user.password" #password="ngModel" required pattern="^(?=\w*\d)(?=\w*[A-Z])(?=\w*[a-z])\S{8,16}$">
        <div *ngIf="registroForm.submitted && password.invalid"class="text-danger">
          <p>Debe contener alguna mayúscula, minúcula y dígito. Longitud entre 8 y 16 carácteres.</p>
        </div>
      </div>

      <div class="form-group col-3 float-left">
          <button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect white text-capitalize btn-success btn-lg btn-block btnGuardar">Guardar</button>
      </div>

      <div class="form-group col-3 float-left">
          <button type="reset" class="mdl-button mdl-js-button mdl-js-ripple-effect white text-capitalize btn-danger btn-lg btn-block btnGuardar">Limpiar</button>
      </div>

    </form>

    </div>

  </div>

  </div>

  <div clasS="col"></div>

</div>